.flexbox {
  display: flex;
  flex-direction: column;
}

.links{
  flex-direction: row;
  justify-content: flex-end;
}

.link{
  margin: 15px 5px;

}

a {
  font-family: arial,sans-serif;  
  font-size: 13px; 
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  cursor: pointer;
  font-family: arial, sans-serif;
}

a:hover{
  text-decoration: underline;
}

.linkImgS{
  height: 600px;
  width: 600px;
}

.img {
  height: 97px;
  justify-content: flex-end;
  align-content: center;
  margin: 20px 0px;
  margin-top: 99px;
}

.img0{
  height: 92px; 
  width: 272px;
  align-self: center;
 }


.formButtoms{
  align-items: center;
}

 .input{
  align-self: flex-start;
  border-color: transparent;
  margin-top: 6px;
  width: 487px;
  height: 18px;
  font-size: 16px;
  font-family: arial, sans-serif;
  text-align: start;
  cursor: text;
  outline: none;
}

.inputImg{
  width: 473px;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover, 
.input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
}

.buttom {
  margin: 20px 10px;
}

.form{
  width: 582px;
  background-color: #fff;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  height: 44px;
  margin: 0px auto;
}

@media (max-width: 670px ){
  .input{
    width: 353px;
  }
  .form{
    width: 449px;
  }
  .inputImg{
  width: 343px;
  }
}

@media (max-width: 499px ){
  .input{
    width: 241px;
  }
  .form{
    width: 337px;
  }
  .inputImg{
  width: 231px;
  }
}


.form:hover{
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223, 225, 229, 0);
}

.mGlass{
  margin-top: 3px;
  color: #9aa0a6;
  height: 20px;
  width: 20px;
  fill: currentColor;
}

.mGlassInput{
  flex-direction: row;
  padding: 5px 0 0 14px;
}

.span{
  height: 20px;
  width: 20px;
  margin-top: 4px;
}

.spanImgSearch{
  height: 24px;
  width: 24px;
  fill: currentColor; 
  color: #4285f4;
  margin-top: 5px;
}

.lupa{
  justify-content: center;
  padding-right: 13px;
  width: 20px;   
}

.buttom1{
  border: 1px;
  border-radius: 4px;
  background-color: #f8f9fa;
  font-size: 14px;
  font-family: arial, sans-serif;
  margin: 11px 4px;
  padding: 0px 16px;
  height: 34px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  color: #3c4043;
}

.buttom1:hover{
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  color: #202124;
  border: 1px solid #dadce0;
}

.buttom1:focus{
  border: 1px solid #4285f4;
  outline: none;
}

.button{
  background-color: #fff;
  border:0px;
  height: 24px;
  width: 24px;
  cursor: pointer;

}

.images{
  height: 16px;
  color: #4285f4;
  font-size: 16px;
  font-family: roboto-regular, arial, sans-serif;
  position: relative;
  bottom: 20px;
  left: 216px;
}